@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    
}
html{
    text-align: center;
   font-size: 62.5%;
   font-family: 'Kalam', cursive;
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 3.6rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: black;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.8rem;
}
h4{
    font-size: 2.4rem;
    margin: 15px auto 3px auto ;
    text-align: center;
}
p{
    font-size: 1.6rem;
}
/*.menudenavegacion{
    width: 100%;
    top: 0;
}*/
.cabecera{
    margin-top: 18px;
}
.menudenavegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Puedes ajustar el valor de z-index según sea necesario */
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra para un efecto visual */
  }
nav{
    background-color: black;
}
nav ul{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;

}

li{
    list-style: none;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: white;
}
.der{
    justify-self: end;
    right: 10%;
}

.catalogo h4{
    margin: 0 auto;
}

.caja{
    overflow-x: scroll;
}
.galeria{
    display: flex;
    overflow-x: scroll;
    
}

.galeria img{
    width: 385px;
    aspect-ratio: 2/3;
    margin: 0 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
 
.contenedorVistaPrevia{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 80px;
    gap: 2px;
    justify-content: center;
    margin: 5px auto;
}
.contenedorVistaPrevia img{
    border-radius: 12px;
    object-fit: cover;
    margin: 0 5px;
}
.parrafos{
    margin: 0 15px;
}
.catalogo, .catalogol, .catalogodanza, .catalogoelas p{
    margin: 0 auto;
    text-align: center;
}
.btnhome{
    text-align: center;
    font-size: 1.6rem;
    color: black;
    width: 20%;
    height: 25px;
    border: 2px solid black;
    border-radius: 16%;
    margin: 5px auto 5px;
    display: flex;
    align-content: start;
    justify-content: center;
}
.btnhome a{
    text-decoration: none;
    color: black;
}
.anulado{
    display: none;
}
.inactivo{
    visibility: hidden;
}